.instagram_reels .sk-ww-instagram-reels .swiper-button-prev:after {
    content: '';
}

.instagram_reels .sk-ww-instagram-reels .swiper-button-next:after {
    content: '';
}

.sk_branding {
    display: none !important;
    visibility: hidden;
    padding: 0;
}

.sk_branding .tutorial_link {
    display: none;
}