.words p {
  animation: spin_words 6s infinite;
}

.zip {
  background: linear-gradient(180deg, #fff, #401361ce);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}


.bg-glow-left {
  background: radial-gradient(circle at left, rgba(0, 140, 255, 0.2) 0%, rgba(0, 0, 255, 0) 50%);
  filter: blur(30px);
  opacity: 0.3;
}

.bg-glow-right {
  background: radial-gradient(circle at right, rgba(0, 0, 255, 0.2) 0%, rgba(0, 0, 255, 0) 70%);
  filter: blur(60px);
  opacity: 0.5;
}